[2015-01-01 19:13] jonschlinkert opened #1 "wishlist"
**Wishlist**

Some user features that would be nice to have in a node.js file globbing lib:

 - define patterns as a string or array
 - allow ignore patterns to be passed on the options
 - ignore `node_modules` by default. IMO it makes more sense for a user to explicitly define `node_modules` to include it.
 - ~~~add support for specified `.ignore` files to be used via options, like `.gitignore` e

[2015-01-01 21:01] tunnckoCore commented on #1
lol, we are twins we think in the same way!

[code]

[code]

Yesterday I wondered between `glob-fs` and `fs-glob` names and thought of this pkg and I made some raw impl xD But the difficult part was implementing benchmarks with your `benchmarked` xD The concept and idea works in tests, but not in benchmarks, it just skip it, however.

[2015-01-01 21:05] tunnckoCore commented on #1
Why? When we could define them in string/array approach? Looks needless.

Why is this question? We have `micromatch`? So much as micromatch supports?

No logic for me.

[2015-01-01 22:13] jonschlinkert commented on #1
1) b/c currently node-glob is a pita to use for negation, and I want to make it easier
2) when implementors (versus end-users) want to define negation patterns dynamically, this offers a more convenient alternative
3) explicitly defining negation patterns is faster than doing a check on every string, replacing `!` and shuffling patterns around. probably a lot faster, but it might not be noticeable

[2015-01-01 22:20] jonschlinkert commented on #1
cc @contra, @sindresorhus, @UltCombo, @doowb (including everyone from the discussion on https://github.com/wearefractal/glob-stream/pull/27).

[2015-01-01 23:22] tunnckoCore commented on #1
Yea, right. I know the diffs.

Here's the perfect place to mention @thlorenz and his https://github.com/thlorenz/readdirp. IMO it is the fastest implementation I ever seen for recursively readdir and beats every other reading dir lib, including node-glob and glob-stream. But yea, the costs are it not support common used glob patterns which we see in gulp/minimatch and other matching libs. I mean,

[2015-01-01 23:58] UltCombo commented on #1
I'm no globbing expert, but here are my .02.

About re-inclusion, it would be nice to have this feature built-in in the globbing library, IMHO. But if not, it is relatively easy to workaround -- for instance, [globby](https://github.com/sindresorhus/globby) and [glob-stream](https://github.com/wearefractal/glob-stream) are packages that wrap node-glob to add support for multiple glob patterns and

[2015-01-02 00:50] jonschlinkert commented on #1
@tunnckoCore thanks, yeah that's a nice lib. I've used it on a few projects.

That's a good frame of reference. I did the pr on multimatch to do the exclusion the way it works now. If you look at how micromatch handles [arrays of patterns](https://github.com/jonschlinkert/micromatch/blob/master/index.js#L105-L115) it's similar. So I guess what I was saying earlier is that the strategy used on glob

[2015-01-02 01:54] UltCombo commented on #1
@jonschlinkert I still don't quite see where the perf hit is at yet. Can you post an example explaining the extra logic steps it would take?

As far as I can see, taking a simple example such as `['**', '!a/**', 'a/b']`, the steps would be:
1. Glob all files, but don't walk the `a` directory.
2. Glob `a/b`.

This means, start a new globbing process for re-inclusion instead of walking the excluded

[2015-01-02 01:55] UltCombo commented on #1
I assume the logic you have in mind would be to execute only a single glob process and match each path against all glob patterns, is that it? Then I see where the perf hit is.

[2015-01-02 19:00] jonschlinkert commented on #1
sure, no prob. I'll try to get something posted up here in a bit

[2015-01-03 01:33] jonschlinkert commented on #1
okay, so this is way more than most people will want to know, but it helped me think this through to get it written out...

yes, I think it's at least worth a poc. and you have a point about re-inclusion, maybe I'm overthinking that. It depends on details I guess.

I'll preface by saying that none of this is necessarily complex or unfamiliar to devs. It's just that there are so many little issues

[2015-01-16 16:33] tunnckoCore commented on #1
Yea, Im sure **we** overthinking it. ;d

Okey, I think we should first create some really good possible real world fixtures and real world complicated patterns to not overthinking the problem and handle it in right way. Because I cant for now realize the big problem. Yea I know the differences between both, know the cost hitting the fs.

Yea, micromatch is awesome. And we will use (or should use)

[2015-01-16 17:18] jonschlinkert commented on #1
you're right.

agreed, we can use micromatch and brace expansion to create test fixtures :)

[2015-03-19 11:49] tunnckoCore commented on #1
@jonschlinkert Could you create `readme.md` and I can fork it and then I'll share my idea?

[2015-03-19 17:48] tunnckoCore commented on #1
Hm. I think that `glob-fs`, if save that name, should handle globbing for more than fs.readdir method like fs.readfile, etc.

[2015-03-19 17:49] tunnckoCore commented on #1
Or we can choose `fs-readdir` (which I already take) to handle all of sync/async/stream/promise flow.

[2015-03-20 02:27] tunnckoCore commented on #1
it's here btw https://github.com/tunnckoCore/fs-readdir/tree/glob-fs as sub folder + benchmarks + non-glob stream/async impl `fs-readdir`
- damn, `readdir-stream` is awesome, lol 120k - but no globbing, strictly recursive
- `fs-readdir` async api - fastest of all libs with _async api_, support event-emitter instead of streams

[2015-03-20 02:53] jonschlinkert commented on #1
I can just generate the boilerplate, is that okay? Not much else to say yet until the API comes together.

Meaning actual file reading? Hmm, I'd rather this focus just on fast globbing. but maybe I misunderstood. Even features like what [globule](https://github.com/cowboy/node-globule#globulemapping) does, I think it would be better to let globule do that and just make this a drop-in replacement f

[2015-03-20 03:08] tunnckoCore commented on #1
Yea.

Mm nope. But nevermind.

Agreed. :+1:

[2015-03-20 03:15] tunnckoCore commented on #1
The job around is interesting, yea. But as we all know we don't want just "next glob lib".
So at first we need some awesome readdir async lib, then awesome stream lib and after all that we can pair them with `mm` to produce `the awesome glob lib` lol. After that we can replace glob-stream.

[2015-04-19 17:06] tunnckoCore commented on #1
thoughts about this start https://github.com/tunnckoCore/glob-fs?

[2015-04-19 17:17] tunnckoCore commented on #1
it implements almost all of the glob-stream options, actually without `root` and `allowEmpty`
and have behaving as vinyl-fs src when `options.src` is true, also supports vinyl-fs `since` option
- support `micromatch` options directly
- support regex, string, array, function globbing

[2015-04-19 17:19] tunnckoCore commented on #1
[look and try it](https://github.com/tunnckoCore/fs-readdir/blob/glob-fs/benchmark/play.js) - comapring and unifying the api between glob-fs, readdirp, readdir-stream, glob-stream

[replace #L3](https://github.com/tunnckoCore/fs-readdir/blob/glob-fs/benchmark/play.js#L3) with glob-fs from the repo

[2015-04-20 08:52] tunnckoCore commented on #1
actually, it support also `allowEmpty` option [see here](https://github.com/tunnckoCore/glob-fs/blob/master/index.js#L123)

[2015-04-20 08:55] tunnckoCore commented on #1
sadly, it dont pass few tests and i guest it won't pass them in future, because glob-stream/vinyl-fs/minimatch/glob does strange things and tests strange things for me. like why should emit error when no found (no matches)?

[2015-04-20 09:02] tunnckoCore commented on #1
@jonschlinkert @contra @UltCombo @phated ping-pong :) thoughts when you can ofc :+1:  :)

[2015-04-20 12:20] yocontra commented on #1
@tunnckoCore What does this do to replace vinyl-fs/glob-stream that is better and not just a rewrite for the sake of writing your own?

[2015-04-20 14:36] tunnckoCore commented on #1
Oh c'mon, we all can agree that the community need better and faster than node-glob + minimatch combo. We can stuck with them forever. Awesome replacement of minimatch already appeared and we see its results, its time for glob library. And this should be purpose number one, the top of our todo lists, before doing anything else.

We all feel and see the performance hit of them and glob-stream depen

[2015-04-20 15:30] jonschlinkert commented on #1
@tunnckoCore I have to agree with what @contra is saying.

I think we can all agree that innovation is a good thing, if not for any other reason than to motivate progress. on one hand, developers shouldn't need any more justification to create a library than "I think I can do this better". But to get the community interested and involved, there needs to be a fundamentally different approach that r

[2015-04-20 15:39] tunnckoCore commented on #1
exactly

im sorry if it seems like that. just saying that we should work together for this. its just basic and absolutely not-ready implementation and it is a lot faster. im not locking you guys with my vision and first-shot implementation. its not end-product, this is clear.

[2015-04-20 15:58] yocontra commented on #1
@tunnckoCore Why not just submit PRs to existing libraries instead of starting from scratch?

[2015-04-20 15:58] tunnckoCore commented on #1
right, but not in any case. I created my repo with same name, just because there's no fork button here. And im not going to publish it.

We can contribute to the awesome readdir-stream to add some new and needed things, then we would be able integrate it in glob-stream, actually make more sense directly in gulp. Cuz one module like this would dismiss almost completely use of glob-stream and vinyl-

[2015-04-20 15:59] tunnckoCore commented on #1
Mm yep, its possible, I just said it. lol

[2015-04-20 16:00] tunnckoCore commented on #1
@jonschlinkert I cant wait to see your impl :)

[2015-04-20 16:04] tunnckoCore commented on #1
and b/c want to try to do it. im not forcing anyone.

[2015-04-20 16:06] tunnckoCore commented on #1
but also to get interested and involved we should support already known features and options of our parents - as you did with micromatch :) this is just a process, yea

[2015-04-20 17:12] jonschlinkert commented on #1
Have you ever actually looked at the code from minimatch or node-glob? Despite how bad the code is for both libs, my first approach was to do a pr to minimatch before creating micromatch. It didn't go as I'd hoped, so I created micromatch.

But if it's a matter for debate, the same could have been said for gulp. Why not do a pr to grunt?  Or vinyl, why not do a pr to [record](https://github.com/no

[2015-07-07 21:40] #1 closed

[2015-07-07 21:48] jonschlinkert opened #2 "first pass"
@doowb / @tunnckoCore

I just pushed up a first pass at this. there is still a lot of work to be done but I think the basic conventions are a good start. I'd love feedback on the following:

- multiple pattern support. suggestions for approach - obviously there are a few existing solutions that do this: globby, micromatch, multimatch etc. but I wanted to see if you guys had any ideas for how we co

[2015-07-07 22:08] jonschlinkert commented on #2
@doowb you've already seen some of this, thanks for the feedback and help with fleshing out some details!

[2015-07-07 22:32] tunnckoCore commented on #2
oo yeah, again you pushed something before me ;d that semester session, nah. I had plans to rewrite the whole stack around and because that i fork some libs in [vinyljs org](https://github.com/tunnckoCore) and organize the process in my mind.

but yea, i'll review it later! thanks for mention.

[2015-07-08 00:41] yocontra commented on #1
@jonschlinkert FWIW vinyl is totally different from record so that isn't a valid comparison. vinyl is as different from record as gulp is to grunt.

[2015-07-08 01:19] tunnckoCore commented on #2
@jonschlinkert mm okey, looks great and thanks for the push up.

:+1:

that's my thoughts
1. Why not emit `file` on `iteratorStream` and `iteratorAsync`? hm..
2. Why not use `parse-glob` instead of custom? im curios, it would provide more cool things
3. Using `through().obj()` is very slow and main perf hit on `glob-stream` - i tested it, that's why i create custom readable stream in my `glob-fs`

[2015-07-08 01:23] tunnckoCore commented on #2
I can try to do new iteratorStream with my custom readable stream approach. which can be as standalone module.

[2015-07-08 01:26] tunnckoCore commented on #2
@jonschlinkert are you thinking that module to pass some/all `node-glob` and `glob-stream` tests?
I think it's impossible if we want to move forward to future. They are wrong by architecture and some of their tests are because these wrong steps and semi-fixes of some bugs or people wrong understandings.

Im passing 95% of the `glob-stream` tests and i cant believe, it's just POC. For other 5% I do

[2015-07-08 01:26] jonschlinkert commented on #1
@contra I'm sure you're right, it's been a while since I thought about this, or looked at the record code. I use vinyl quite a bit though. IMHO, the most valuable thing about vinyl is the philosophy behind it and the execution. regardless I'm grateful to have the freedom to take advantage of one or the other, or both if I want. plus innovation is more likely to happen when different libraries atte

[2015-07-08 02:01] jonschlinkert commented on #2
I thought I was on async, but @doowb and I were thinking it might not be necessary with stream. but maybe we should just do it to be consistent across the iterators... the fact that you brought it up after we wondered the same thing probably answers the question.

yeah we can optimize after we get the conventions down. I'm much more focused on making sure that we offer something innovative and uni

[2015-07-08 02:15] tunnckoCore commented on #2
awesome. yea maybe it was stupid question, when we have "middleware" idea here. lol, damn im tired.

yea, i read the readme 2 times, lol. And that's clear. The problem is that when pattern is regex `isnt` would return function (actually middleware) which is assigned to `isMatch` which later is called in the `if statemant` and cant act like `mm.matcher`. But okey, maybe im wrong lol.

yea, definite

[2015-07-08 02:23] jonschlinkert commented on #2
no, not at all. any question is okay.

about the matching, yeah we need to optimize that

[2015-07-08 02:40] tunnckoCore commented on #2
haha. Also it would be awesome if we use `option-cache` i felt in love with it these weeks, lol.
 it makes the things looks sooo nice and neat.

[2015-07-08 02:47] jonschlinkert commented on #2
Awesome! Lol yeah I love that lib too.

[2015-07-08 03:19] tunnckoCore commented on #2
Another thinking, when i'm looking latest updates to `loader-cache`... if we use it we be able to do crazy things like to set `iterator-sync` and use `globby.sync` lol. it's awesome, but the purpose of this lib maybe is a lil' bit another, currently, lol.

Hm.. or maybe better would be to be just api normalizer (i mean like consolidate, jstransformers and etc) and we will just implement more and m

[2015-07-08 03:36] tunnckoCore commented on #2
hah. [exact what i was thinking](https://github.com/jonschlinkert/template/blob/complete-refactor/examples/loaders.js#L50-L66)

---

what about that?

[code]

in given fs tree

[code]

`files` would be `foo/aaa.js`, `foo/bbb.js` and `baz/kkk.txt`

[2015-07-11 12:13] jonschlinkert opened #4 "middleware ideas"
Anyone is free to create these. Middleware should be extremely specific. this keeps them very fast, more composable, and more likely to be interesting to more users

Please add a link to your middleware in the readme if you create one!

- `glob-fs-tilde`: expand a leading tilde to an absolute file path (using [expand-tilde](https://github.com/jonschlinkert/expand-tilde))
- `glob-fs-bower-ignore`:

[2015-07-13 14:53] tunnckoCore opened #5 "middlewares to be async"
Im working on [tunnckoCore/benz](https://github.com/tunnckoCore/benz), which i think is awesome.
Because lies on top of great libs - async-done, now-and-later and co. Allows you to pass async, callback, generator functions, passing context through them; returning and yielding promises, thunks streams; handles errors and completion of all of them.

You can look at the tests for now. Also want to me

[2015-07-13 15:18] tunnckoCore commented on #5
actually, it would be easy to determine it is glob-fs File object. I can add to checks [here](https://github.com/tunnckoCore/benz/blob/master/lib/factory.js#L46-L47), just check for "if object and if object.isDotdir and object.isDotfile and then wrap it in callback style function"

edit: hm, or not so easy.

[2015-07-13 21:12] jonschlinkert commented on #5
I actually built it this way initially, but it works really well as just sync - easier to explain and maintain.

however, I agree with the underlying reason for the point you're making. I think there needs to be another check after emitting `exclude` and `include` to allow middlewares or listeners to change that decision.

fwiw, this lib is still very WIP. my guess is that it's about 50% away from

[2015-07-13 22:32] tunnckoCore commented on #5
Im thinking that it should be just thin wrapper with fast defaults - custom readers, custom iterators. Are you thinking to expose custom readers and iterators?

I dont think you should do so much, lol. For me it is almost done, except custom readers, iterators and improve middlewares.

see last two comments https://github.com/jonschlinkert/glob-fs/issues/2#issuecomment-119409570

[2015-07-13 23:23] jonschlinkert commented on #5
Usually I tend to do everything in one lib until I get it right. then I break things out. it's just my preference. I guess I'm conservative and would rather make sure we have the right conventions first

[2015-12-18 23:46] steveluscher opened #6 "Problem using brace matcher"
I hope this is just me not understanding glob syntax. I seem to be able to read test and src separately, but not together, joined in braces.

[code]

Note that the same glob pattern used with `ls` lists all four files:

    ls -al {../foopath/src,../foopath/test}/**

[2015-12-19 00:58] jonschlinkert commented on #6
that sounds like a bug. I'll look into it, thanks for reporting

[2016-01-25 07:52] arisahl opened #7 "this.pattern.re vs: this.pattern.regex"
When trying to use glob-fs 0.1.6 just right out of the box I had to do the following modification in index.js, to get it running:

[code]

[2016-02-01 21:37] UndefinedOnGitHub commented on #7
I had the same issue and this fix worked.

[2016-02-01 22:45] jonschlinkert commented on #7
sorry for the late reply and thanks for the fix. marking a bug, I'll push up a fix as soon as I get a chance unless you'd like to do a pr. thanks

[2016-03-19 09:45] kristiandupont opened #8 "How does one scan a different folder?"
All the examples show scanning the default folder. The docs vaguely indicate that I can modify `glob.options.cwd`, but it doesn't seem to do the trick. Specifying an absolute folder like `/users/Kristian/**` doesn't work either. Am I supposed to run `process.chdir()` to scan a specific folder?

[2016-06-03 02:18] dotnetwise commented on #6
+1

[2016-06-06 04:37] activescott opened #9 "TypeError: Cannot read property 'realpath' of undefined"
I get the below when using `readdirPromise`:
    /Users/scott/Dropbox/Docs/Scripts/mail-restore-js/node_modules/glob-fs/lib/symlinks.js:38
            self.realpath(file, cb);
                ^

    TypeError: Cannot read property 'realpath' of undefined
        at /Users/scott/Dropbox/Docs/Scripts/mail-restore-js/node_modules/glob-fs/lib/symlinks.js:38:15
        at LOOP (fs.js:1609:14)
        a

[2016-06-06 07:44] tunnckoCore commented on #9
Not so surprising for me, haha. Try to not use it yet, it's very basic and raw. Or if you just play, thanks for the report ;]
We are coming to it soon. :)

[2016-06-06 14:54] rchoudhary opened #10 "TypeError: Cannot read property 'split' of undefined"
When trying to run the sync example from the website, I get the following error:

[code]

For reference, here is the code:

[code]

My hunch is it involves line 74 of glob-fs/lib/pattern.js: `this.base = path.join(this.cwd, this.parent);`. Running the debugger, the `path.join` returns a nonsense path (the c:/ drive is in both `this.cwd` and `this.parent` and `path.join` just smashes them together)

[2016-07-13 23:28] TheMaverickProgrammer opened #11 "dot files are not ignored"
package: ```"glob-fs": "^0.1.6"```

dot files (.git .gitignore ...) are included in my array results.

[2016-07-14 01:08] TheMaverickProgrammer commented on #6
+1

[2016-07-14 21:07] TheMaverickProgrammer opened #12 "lacking in glob pattern recognition"
I have used glob-fs in my program for a faster glob experience. The full pattern recognition was not available. I ran many attempts with patterns similar to ```*!(.js)``` and every result included ```.js```. This is unfortunate as this looks like a promising library.

[2016-07-14 21:36] jonschlinkert commented on #12
I think this just needs to be updated to use the most recent micromatch. I might also need to rework some of the path creation logic.

thanks, and sorry I haven't had a lot of time for this lib lately. I would take a pr to update micromatch to the latest if you want to do one

[2016-08-10 18:27] TimMurphy commented on #10
Same here.

[2016-08-23 19:44] akaRem opened #13 "readdirAsync doesn't filter"
When I try this
[code]
I see just just all files in dir

I suppose that error is somewhere here:

[code]

because it's strange to me that `end` is emitted before promise is resolved.

but change from this:
[code]
to this:
[code]
didn't help

Did I used this method properly? Or am I missing somethig? Or is there some error?

[2016-08-24 13:21] code-mattclaffey commented on #10
I get this error to

[2016-09-04 08:21] mhulse commented on #11
Noticing this as well. `"version": "0.1.6"`.

[2016-09-07 07:24] paulcrussell commented on #10
Happening for me as well.

[code]

[2016-09-15 11:47] gbaumgart commented on #10
yes, how to set the root?

[2016-09-23 05:25] gbaumgart commented on #10
however, this library just doesn't work on windows. no matter what you try, with exactly the same error

[2016-09-23 05:50] gbaumgart opened #14 "not working on windows"
can you try some basic tests of your library on windows? no matter what you use for paths, it ends up with that error : https://github.com/jonschlinkert/glob-fs/issues/10
g

[2016-09-23 07:49] setriosdomain commented on #10
Yes It works ok on linux and mac, but not on windows. Im getting this exact error when performing any search.

[2016-09-23 08:46] setriosdomain commented on #10
on the setPattern function at index.js of the lib

change from
    // if middleware are registered, use the glob, otherwise regex
    var glob = this.fns.length
      ? this.pattern.glob
      : this.pattern.re;

to

[code]

this seems to fix the prob

[2016-09-23 13:25] jonschlinkert commented on #10
sorry all, I think I mentioned this elsewhere but this might be fixed by updating micromatch to the latest version. I can do this when I have a chance, or if someone wants to do a pr I'd be happy to merge

[2016-09-24 09:27] craigcosmo opened #15 "readdirSync is not a function"
error: /Users/craigcosmo/Desktop/electron skeleton/webpack.config.babel.js:49
var files = _globFs2.default.readdirSync('*.js');
                             ^

TypeError: _globFs2.default.readdirSync is not a function

Reproduce

[code]

[2016-09-24 10:52] jonschlinkert commented on #15
Do you have an example of how to reproduce the bug with code that doesn't need to be transpiled?

[2016-09-24 11:50] applemate commented on #15
Does the package work with es6?

[2016-09-24 11:50] #15 closed

[2016-09-24 11:56] jonschlinkert commented on #15
I was referring to this:

How are webpack and babel related to this lib or the example? Or was that part irrelevant?

[2016-09-24 12:03] applemate commented on #15
I wanted to get the folder structure (using your package) so I can use the structure in webpack modulesdirectories.

I was trying to produce something like this `['app', 'app/image', 'app/image/icon', 'dist', 'app/component']` , because this array is something webpack modulesdirectoris is expecting to receive.

I solved this. Like this http://stackoverflow.com/questions/39674832/nodejs-get-folder-

[2016-09-24 22:41] jonschlinkert commented on #15
Oh ok, thanks for clarifying

[2016-10-07 14:20] AlexNodex opened #16 "Full absolute path"
Why does the module prepend it's own path to the passed path in readdirSync?

Surely this is an oversight?

[2016-10-08 05:27] tunnckoCore commented on #11
Node versions? Cuz all was working, I believe.

[2016-10-08 06:45] mhulse commented on #11
Good point. I'm on `v6.7.0` (the latest stable at time of this comment), but there could be something up with my system that's different than most people's. Or, I'm using the code wrong.

 Sorry to raise any red flags if there are none. :octocat:

[2016-10-08 08:00] tunnckoCore commented on #11
Yea it's possible, but as what I know, this package not uses so strange things to makes things not work between node version. So.. best will be to open issues and give code snippets and expected behaviors.

[2016-10-09 00:07] dynajoe commented on #10
Updating micromatch resulted same issue.

[2016-10-11 17:30] Dan9boi commented on #10
+1 for this issue :(

[2016-10-13 23:27] jonathanbarton commented on #16
I didn't see this documented tbh, but if you look in the code there is an option `cwd` that can be added to your options {}. i.e. `var files = glob.readdirSync(my_path, {cwd: __dirname});`
This fixed me up and I believe this mirrors typical glob functionality I've seen elsewhere.

Sidenote: @jonschlinkert your code is really pretty :)

[2016-10-14 02:13] doowb commented on #16
@AlexNodex do you have an example to reproduce the error you're seeing?
I'm not able to reproduce it so you might be using a different pattern than me.

If you don't pass in the `cwd` on the `options`, then `'.'` will be used which resolves to the current working directory for me.

[2016-10-14 07:04] AlexNodex commented on #16
It doesn't matter what I pass in, it prefixes the directory with the working directory even if I put the full absolute path in.

[2016-10-14 16:35] doowb commented on #16
That's different than:

I think I see the issue, but it would be helpful to have a code example showing what's happening and possibly a failing unit test showing what's expected.

[2016-10-14 17:22] jonathanbarton commented on #16
I noticed the glob.sync() feature which parities readdirSync in the glob package does not behave this way, just fyi

[2016-10-14 19:16] AlexNodex commented on #16
This is why it's confusing, no other module works by prefixing anything!

[2016-10-17 00:28] nowindowsowrking commented on #14
@gbaumgart This isn't anything new. All of @jonschlinkert repos doesn't work on windows and the author doesn't seem to won't to fix it either. Instead of giving replies, he lock thes the issue for collaborators only and doesn't reply.

And be aware if you write any issues @jonschlinkert doesn't like, he blocks you!!

See this issues as well:
https://github.com/jonschlinkert/bash-glob/issues/1
http

[2016-10-17 00:28] nowindowsowrking commented on #10
@rchoudhary @TimMurphy  @code-mattclaffey @paulcrussell  @gbaumgart
This isn't anything new. All of @jonschlinkert repos doesn't work on windows and the author doesn't seem to won't to fix it either. Instead of giving replies, he lock thes the issue for collaborators only and doesn't reply.

When I pointed this out for him, he just blocked me from his repos! He doesn't like the truth to come out!!

[2016-10-17 01:52] jonschlinkert commented on #14
@nowindowsowrking I've reported your account to github. I blocked you because you made insulting comments on another issue. Your comments will always be deleted on my projects.

[2016-10-17 06:44] gbaumgart commented on #14
@gbaumgart This isn't anything new. All of @jonschlinkert repos doesn't work on windows and the author doesn't seem to won't to fix it either. Instead of giving replies, he lock thes the issue for collaborators only and doesn't reply.

And be aware if you write any issues @jonschlinkert doesn't like, he blocks you!!

See this issues as well:
jonschlinkert/bash-glob#1
jonschlinkert/nanomatch#1
----

[2016-10-17 12:00] jonschlinkert commented on #14
Really? You sure about that? Have you run them all?

I've now spent the better part of 3 weeks working on new matching libraries and making improvements to existing ones which will result in improvements in this library. Yet, even though you claim to have "tried all of my libraries on windows", you somehow missed all of this very public activity and contribution history to these other matching lib

[2016-10-18 09:54] trixlerjs commented on #14
@gbaumgart @doowb @jonschlinkert

Hi.
I have followed this issue ticket and many others a bit on the sideline. And I began to wonder after your frontal attack on this user.  I do not know what he wrote in some of the other messages it has been referred to, but I have read the message that you have deleted.

And it is your right. And also delete other messages from this user.  As long as these are

[2016-10-18 14:31] AnneBarbier commented on #14
same here. doesn't work on windows. looks pretty childish what's going on here. i guess its better to switch package just

[2016-10-18 14:31] jonschlinkert commented on #14
yes, it is childish. please stop.

[2016-10-31 19:53] gaje opened #17 "micromatch dependancy pulls from github not npm"
The dependency for: `"micromatch": "jonschlinkert/micromatch#2.2.0"`, pulls from github repo instead of npm. This breaks on firewalled networks that do not have access to public github. Can this be changed to pull from npm instead?

[2016-10-31 21:11] jonschlinkert commented on #17
sure, but we'd need to make sure the tests are passing. fwiw this lib is being refactored anyway

[2017-01-15 09:30] revelt commented on #13
I'm having the same problem. This was driving me nuts for few days.

This will output all `json` files:

    var res = glob.readdirSync('/**/*.json')
    console.log('res = ' + res)

This will not filter all `json` files, but **everything** instead:

    glob.readdirPromise('**/*.json')
      .then(function (file) {
      console.log(file)
    })

My current plan is to switch to other libraries th

[2017-01-16 04:30] tunnckoCore commented on #13
@revelt @akaRem, yea, well-known bug (or at least) for me from the very beginning of the refactor with these iterators. At all, `glob-fs` is not fully ready and is experimental.

[2017-01-16 08:20] revelt commented on #13
@tunnckoCore I see! What library do you prefer for promises+glob file reads?

[2017-01-16 10:24] tunnckoCore commented on #13
unfortunately... there is no other package in the whole community that do globs... evey is based on glob, which is very sad and i hate that fact. but it will be changed this year - i made couple of streaming implementation that performs 100-200x better and faster, passing 90% of glob-stream tests. but anyway.

the only thing is custom promise wrapper over glob,  or globby directly

[2017-01-16 10:28] revelt commented on #13
Hm. With regards to `glob-fs`, should we, in theory, add a proper test suite to show where exactly it fails its promises (pun intended)? In my understanding the test suite is not complete according to what's said in readme... Although I don't see Travis set up either..

[2017-01-27 20:47] misterbrownlee commented on #17
This makes glob-fs a no go for us on a project.  Too bad, it seems like a good start

[2017-01-27 22:15] tunnckoCore commented on #17
@misterbrownlee it seems, but it isn't ready enough for "production" or whatever you wanna call it, because it is not very stable at this moment. But yea, it is great. :)

[2017-02-15 16:26] octachrome commented on #10
I am getting the same error. This looks like a great library, more flexible than https://github.com/isaacs/node-glob, but it just doesn't work on Windows for a lot of people. Any chance of getting this fixed?

[2017-02-15 17:29] jonschlinkert commented on #10
@octachrome, please see the very top of the front page of the project where it states `... This library is experimental and does not work on windows!`

We're going to do a complete refactor of this lib as soon as we have a chance. I'm not sure when that will be, but I'll make sure to publish the refactor on the `dev` branch and post an update here as soon as it's started

[2017-04-26 19:36] itslenny commented on #10
It's exactly what @setriosdomain  suggested above. It's just a typo pattern.re is undefined it is supposed to be pattern.regex

[2017-04-26 19:46] jonschlinkert commented on #10
@itslenny if you want to do a pr, I'll merge it in right away. That would make it a lot easier for me to get to this. Otherwise it might be a while

[2017-04-26 20:15] itslenny commented on #10
I just tried it, but the issue seems to cascade a bit, and I'm honestly not sure where the rabbit hole ends.

When it gets the pattern correctly it winds up passing an array into gitignore instead of a string that gets passed to minimatch which calls `.split` on an array and crashes.

I updated the minimatch version which fixes that, but then I get an expected string error from `normalize-path` wh

[2017-04-26 20:37] jonschlinkert commented on #10
Oh ok, you said "It's exactly what @setriosdomain suggested above. It's just a typo pattern.re is undefined it is supposed to be pattern.regex", so I thought you knew something I didn't. Thanks for clarifying.

[2017-05-25 18:11] quinton-ashley commented on #16
Why hasn't this been fixed?

[2017-05-25 18:22] jonschlinkert commented on #16
@quinton-ashley please clarify your question. Are you asking what the technical hurdles are?

[2017-05-25 18:33] jonschlinkert commented on #16
@quinton-ashley why haven't you answered?

[2017-05-25 18:34] jonschlinkert commented on #16
@quinton-ashley I'm waiting for a response. Why haven't you answered my question?

[2017-05-25 18:34] jonschlinkert commented on #16
@quinton-ashley please explain why you asked your question.

[2017-05-25 19:23] quinton-ashley commented on #16
Did I stutter?  You marked this as a bug months ago why hasn't it been a priority?  Seems like a pretty bad flaw for a project called glob-fs to not be able to access the rest of the filesystem.

[2017-05-25 19:33] jonschlinkert commented on #16
Unless you paid for this to be fixed, and you are quite literally owed an explanation, there is never going to be a time when asking this question is acceptable. Even if you had contributed something of value to this project (or any other project) that makes you feel like you have a right to ask such a question, which you haven't, you would still not be entitled to an answer. And if you had paid a

[2017-05-25 19:34] jonschlinkert commented on #16
You might stutter, but I'll never know about it because I don't want to hear another word from you. You've been blocked.

[2017-05-30 18:38] jonschlinkert commented on #17
closing, we're working on the next version and won't be making any changes to this branch

[2017-05-30 18:38] #17 closed

[2017-06-02 20:43] meonkeys opened #19 "cannot install with npm v5: No matching version found for micromatch@2.2.0"
[code]

Node.js was installed via nvm, and I upgraded npm to v5.

[2017-06-02 21:08] phated commented on #19
From what I've been hearing, npm@5 is fubar.

[2017-06-02 21:08] #19 closed

[2017-06-25 21:58] danielfaust commented on #10
How about adding a note on npmjs.com that this does not work on windows...

[2017-07-20 14:04] startupsandcode commented on #10
I submitted a PR for this: https://github.com/micromatch/glob-fs/compare/master...lotekmedia:master
It definitely works on Windows now.  Thanks!

[2017-07-20 15:16] jonschlinkert commented on #10
resolved by https://github.com/micromatch/glob-fs/pull/20

[2017-07-20 15:16] #10 closed

[2017-08-10 16:47] etki opened #22 "Glob pattern is not filtering files as expected"
Hi.
I was expecting glob to recursively list all files and (internally) reject all that don't match provided pattern. However, given following actions taken:
[code]
I have following output:
[code]
Looks like it's either me misinterpreting how this package is designed to work (and all of the above is valid output) or a bug

[2017-08-10 17:01] jonschlinkert commented on #22
Yeah, that's definitely a bug. This package is [being refactored](https://github.com/micromatch/glob-fs/pull/18) completely

[2017-12-08 21:00] angileriDE opened #23 "Replace micromatch github dependency"
Could you please replace the micromatch github- by a npm-dependency?
This leads to trouble by firewall restrictions or deployments through inhouse npm caches. Thx!

[2017-12-09 01:12] jonschlinkert commented on #23
want to do a pr?

[2018-03-06 12:47] stubar opened #25 "Multiple calls to readdirSync adds to the returned array"
If I call `globFs.readdirSync(path, {cwd: '/'})` multiple times I get a different array each time.  The file list is being added to the last response each time.

Note I'm using the cwd param because I'm passing in absolute paths.

[2018-04-16 08:33] laseryuan commented on #25
Same issue for not specifying options.

[2018-04-16 19:45] mntmn commented on #25
Ran into the same issue which caused a security problem (files returned that should not have been).

[2018-05-21 07:36] mistic100 commented on #25
Encountered this problem as well, unfortunately I had to switch to https://github.com/isaacs/node-glob

[2018-06-22 12:48] henninga commented on #23
I could do a pr but all of the tests fails on my machine right after npm install

[2018-09-20 07:25] ferdinandyb commented on #25
can confirm :( https://stackoverflow.com/questions/52414684/unexpected-behaviour-of-glob-fs-glob-readdirsync

[2018-09-30 04:00] marrowleaves commented on #25
A workaround is to create a new instance of the `Glob` object each time you match a pattern, like:
[code]

[2018-09-30 04:05] marrowleaves opened #28 "`readdirPromise` does not respect `file.exclude`"
I'm using the Promise-based API which doesn't seem to respect the `file.exclude` property. The excluded files are still returned.

It does work with the other `readdir` methods

[2018-12-10 13:42] nickform opened #29 "Should be clear that this requires git to be on the PATH"
It would be really great if the README made it clear that this package requires git to be on the path as well as carrying the "experimental" and "doesn't work on Windows" warnings which are shown on github. This would help make sure that devs who discover the package on www.npmjs.org are aware of these limitations before they spend time trying to try out the package.

Thanks.

[2019-04-25 18:41] georgejecook opened #31 "readdirSync is returning files from wrong path"
given

``` debug(`processing files at path ${process.cwd()} `);

    let fileProcessor = new FileProcessor(this._config);
    fileProcessor.rootPath = process.cwd();
    let files = glob.readdirSync(this._config.globPattern);
    files.forEach( (file) => {```

where the `process.cwd()` is `/Users/georgecook/Documents/h7ci/hope/opensource/navSpike/build/.roku-deploy-staging`

and a globPattern of `

[2019-04-25 18:57] georgejecook commented on #31
note - I used cwd flag as per https://github.com/micromatch/glob-fs/issues/16 - still does the wrong behaviour, acting as if it's one level up

[2019-04-25 19:10] georgejecook commented on #31
it seems the problem is specifically folders which start with a . - it simply ignores them, which renders this unusable.

[2020-06-05 10:47] DivisionSi opened #34 "npm audit give high status vulnerability"
running npm audit with latest glob-fs gives:

  High            Prototype Pollution
  Package         set-value
  Patched in      >=2.0.1 <3.0.0 || >=3.0.1

Would you be updating package.json to use latest set-value (currently it is ^0.2.0).

[2020-09-30 19:10] jedwards1211 opened #35 "async iterator example?"
The TODO section of the readme says that async iterator support is done, but I don't see any examples in the readme...is it possible to `for await` with the current API?

[2021-04-16 00:37] marlonmarcello commented on #23
@jonschlinkert I have the same issue as @henninga
This breaks CI/CD on Amplify and others.

[2021-04-16 00:55] jonschlinkert commented on #23
yes, sure. want to do a PR? sorry for the lack of activity, I'll be spending a lot more time on GitHub going forward.

thanks!

[2021-04-16 00:58] marlonmarcello commented on #23
All good @jonschlinkert ! Appreciate everything that you've done.
I can't do a PR for the same reason that @henninga can't. I get a bunch of test fails.

[2021-04-18 15:15] jonschlinkert commented on #23
Well... lol someone will need to get those tests passing. I'd appreciate a PR from someone, but I can do it when I get a chance.

[2021-05-19 08:45] AraHaan commented on #31
That is by default you can disable that however.

[2021-06-15 14:40] AraHaan commented on #31
I use this in my github action and for some reason it's not finding files with this glob pattern ``**/*.csproj``.

[code]

However for some reason it skips everything in the ``forEach``.

[2021-07-05 14:19] shrikant10 opened #36 "npm ERR! Does not contain a package.json file"
Facing issue on package installation.

[code]

Getting this Error on `npm install  `
pacakge.json contains
`"glob-fs": "^0.1.7",`

node - 8.10.0
npm - 6.14.9

Please help with this issue.
@jonschlinkert

[2022-03-23 20:09] 1Map opened #38 "readdir case-insensitive wildcard"
I work in Windows.

How would I go about looking for files like, for example, both:
*.txt and *.TXT

glob.readdir returns either the one or the other, but not both.

For example I have 2 files:
file1.txt
file2.TXT

Now, I want to find all files with extension txt (Upper and Lower case).  How would I do that without calling 2 functions (*.txt and *.TXT) ?

[2022-04-15 17:07] rbitting commented on #23
Any update on this? I'm encountering the same issue. FWIW it doesn't seem like the unit tests pass with the current micromatch github package either 😅

Edit: Workaround until this is fixed is to just add a resolution for micromatch in the package.json. Example:

[code]